{% extends 'users/base.html' %}

{% block content %}<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row justify-content-start">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round text-center">
          <a href="#">
          </a>
          <h1>Username</h1>
          <p>Email</p>
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-user"></i> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-edit"></i> Edit profile</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-info col-md-6">
      <div class="panel">
        <div class="panel-body bio-graph-info">
          <form>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="inputUsername">Username</label>
                <input class="form-control" id="inputUsername" type="text" value="Username">
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="inputFirstName">First Name</label>
                <input class="form-control" id="inputFirstName" type="text" value="First name">
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="inputLastName">Last Name</label>
                <input class="form-control" id="inputLastName" type="text" value="Last name">
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="inputEmail">Email</label>
                <input class="form-control" id="inputEmail" type="email" value="Email">
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="inputBirthday">Birthday</label>
                <input class="form-control" id="inputBirthday" type="text" value="Birthday">
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="inputCountry">Country</label>
                <input class="form-control" id="inputCountry" type="text" value="Country">
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}