{% extends 'users/base.html' %}

{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row justify-content-start">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round text-center">
          <h1>Username</h1>
          <p>Email</p>
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-user"></i> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-edit"></i> Edit profile</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-info col-md-6">
      <div class="panel">
        <div class="panel-body bio-graph-info">
          <form action="{% url 'profile' %}" method="post" >
              {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="{{ form.first_name.id_for_label }}">First Name</label>
                {{ form.first_name }}
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Last Name</label>
                {{ form.last_name }}
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="{{ form.birthday.id_for_label }}">Birthday</label>
                {{ form.birthday }}
              </div>
              <div class="col-md-6 mb-3">
                <label class="small mb-1" for="{{ form.country.id_for_label }}">Country</label>
                  {{ form.country }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}