header{
    color: white;
    height: 45px;
    margin-top: 25px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;

}

li{
    display: inline;
    margin-right: 70px;
    font-size: 22px;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
}

main .titlee {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    margin-left: 7%;
    margin-top: 200px;

}

main .name1{
    color: white;
    font-size: 20px;
    margin-left: 7%;
    font-family: "Times New Roman";
    font-weight: bold;

}

main .bnbutton {
    margin-left: 7%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #37a8ff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: "Times New Roman";
    font-weight: bold;
}

.bnbutton:hover{
    background-color: #1f95e4;
}

.malone{
    width: 17%;
    height: auto;
    margin-left: 43%;
    margin-top: -25%;
}

.malonetext{
    color: white;
    margin-left: 46%;
    margin-top: -7.5%;
    font-size: 12px;
    font-family: "Times New Roman";
    font-weight: bold;

}

main{
    font-size: 20px;
    color: white;
}
